<header class="header-visitor">
    <div class="container text-center">

        <span class="section-subtitle section-subtitle-light">
            Miftah Arabi
        </span>

        <h1 class="header-visitor-title mt-2">
            {{ h1 }}
        </h1>

        <p class="header-visitor-text mt-3">
            Apprenez l'arabe de manière simple, progressive et efficace.
        </p>

    </div>
</header>