    * {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

    .navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    }
