{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Leçons d’arabe | Miftah Arabi{% endblock %}

{% block description %}
Accédez aux leçons d’arabe de Miftah Arabi : alphabet, lecture, vocabulaire et bases de l’arabe littéraire pour débutants et intermédiaires.
{% endblock %}

{% block keywords %}
leçons arabe, cours d’arabe, arabe littéraire, apprendre l’arabe, alphabet arabe, Miftah Arabi
{% endblock %}

{% block main %}
    <section class="container my-5">
        <h1 class="text-center display-5 mb-4">Leçons</h1>

        <p class="text-center lead mb-5">
            Des leçons progressives pour apprendre l’arabe pas à pas,
            du niveau débutant au niveau intermédiaire.
        </p>

        {# Exemple de structure future #}
        {# 
        <div class="row">
            <div class="col-md-4">Alphabet</div>
            <div class="col-md-4">Lecture & prononciation</div>
            <div class="col-md-4">Vocabulaire & grammaire</div>
        </div>
        #}
    </section>
{% endblock %}
