{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block description %}Bienvenue sur la plateforme Miftah Arabi{% endblock %}

{% block keywords %}Bienvenue, plateforme, leçons{% endblock %}


{% block main %}
    <h1 class= "text-center my-3 display-5">Bienvenue</h1>
{% endblock %}