{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Accueil | Miftah Arabi{% endblock %}

{% block description %}
Plateforme d’apprentissage de la langue arabe pour francophones : cours clairs, progressifs et accessibles à tous les niveaux.
{% endblock %}

{% block keywords %}
langue arabe, apprendre l’arabe, arabe littéraire, cours d’arabe, plateforme arabe, Miftah Arabi
{% endblock %}

{% block main %}
    <section class="container text-center my-5">
        <h1 class="display-5 mb-3">Bienvenue sur Miftah Arabi</h1>
        <p class="lead">
            Une plateforme simple et progressive pour apprendre l’arabe,
            comprendre la langue et gagner en confiance pas à pas.
        </p>
    </section>
{% endblock %}
